.nav-indicator {
    display: block;
    height: 2px;
    background: grey;
    width: 40px;
    transition: width 0.3s ease;
}

nav ul li:hover .nav-indicator {
    background: lightblue;
    width: 80px;
    color: lightblue;
}

nav ul li .nav-indicator.active {
    background: lightblue;
    width: 80px;
    color: lightblue;
}

ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: lightblue;
}

ul li a:hover {
    color: lightblue;
}
svg {
    fill: white;
}
